.arrow {
  border: solid #1877b9;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.text-wrapper h1 {
  font-size: 55px;
}

.watch-series {
  background-image: url(./apple\ watch.jpg);
  background-size: cover;
  background-position: center;
  height: 580px;
 width: 600px;
}
.text-wrapper h1 {
  font-size: 55px;
}

.trade-in {
  background-image: url(./iphone_tradein_promo__d5au3rkw5kuq_large.jpg);
  background-size: cover;
  background-position: center;
  height: 580px;
  width: 600px;
   
}

@media (max-width: 767px){
 
}
