.arrow {
  border: solid #1877b9;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.text-wrapper h1 {
  font-size: 55px;
}

.third-section {
  background-image: url(./macbook-lg.jpg);
  background-size: cover;
  background-position: center;
  height: 580px;
}
@media (max-width: 767px){
     .third-section {
    background-image: url(./macbook-sm.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
  }
}